.card-category {
  background-size: cover;
  background-position: center;
  height: 220px;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.3);
  margin: 16px;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: rgb(180, 180, 180);
    text-decoration: none;
  }
}
